In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.2.2'

In [3]:
df = pd.read_csv("cars.csv")
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [41]:
# Q2. Records count

df.shape

(2160, 12)

In [5]:
# Q3. Laptop brands

df.Brand.nunique()

27

In [40]:
# Q4. Missing values

df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             0
Touch              0
Final Price        0
dtype: int64

In [39]:
# Q5. Maximum final price

df_dell = df[df["Brand"] == "Dell"]
df_dell["Final Price"].max()

3936.0

In [ ]:
# Median value of Screen

In [11]:
df["Screen"]

0       15.6
1       15.6
2       15.6
3       15.6
4       15.6
        ...
2155    17.3
2156    17.3
2157    17.3
2158    13.4
2159    13.4
Name: Screen, Length: 2160, dtype: float64

In [13]:
df["Screen"].describe()

count    2156.000000
mean       15.168112
std         1.203329
min        10.100000
25%        14.000000
50%        15.600000
75%        15.600000
max        18.000000
Name: Screen, dtype: float64

In [14]:
df.Screen.median()

15.6

In [97]:
df.groupby("Screen").describe()

           RAM                                                      Storage  \
         count       mean        std   min   25%   50%   75%    max   count
Screen
10.10      1.0   4.000000        NaN   4.0   4.0   4.0   4.0    4.0     1.0
10.50      7.0   8.000000   0.000000   8.0   8.0   8.0   8.0    8.0     7.0
10.95      1.0   8.000000        NaN   8.0   8.0   8.0   8.0    8.0     1.0
11.60     16.0   4.000000   0.000000   4.0   4.0   4.0   4.0    4.0    16.0
12.00      4.0   8.000000   0.000000   8.0   8.0   8.0   8.0    8.0     4.0
12.30     13.0  14.153846   6.656402   8.0   8.0  16.0  16.0   32.0    13.0
12.40      6.0   6.666667   2.065591   4.0   5.0   8.0   8.0    8.0     6.0
12.50      1.0   8.000000        NaN   8.0   8.0   8.0   8.0    8.0     1.0
13.00     27.0  11.555556   4.050957   8.0   8.0   8.0  16.0   16.0    27.0
13.30    131.0  11.145038   4.492938   4.0   8.0   8.0  16.0   32.0   131.0
13.40     19.0  20.631579   8.139141   8.0  16.0  16.0  32.0   32.0    19.0
13.50     19.0  11.368421   4.058058   8.0   8.0   8.0  16.0   16.0    19.0
13.60     11.0   9.454545   3.236159   8.0   8.0   8.0   8.0   16.0    11.0
13.90      2.0  12.000000   5.656854   8.0  10.0  12.0  14.0   16.0     2.0
14.00    392.0  13.071429   6.191736   4.0   8.0  16.0  16.0   40.0   392.0
14.10     11.0   6.000000   1.788854   4.0   4.0   6.0   8.0    8.0    11.0
14.20     14.0  22.857143   8.216841  16.0  16.0  16.0  32.0   32.0    14.0
14.40      6.0  21.333333   8.262364  16.0  16.0  16.0  28.0   32.0     6.0
14.50      3.0  16.000000   0.000000  16.0  16.0  16.0  16.0   16.0     3.0
15.00     21.0  14.095238   7.112698   8.0   8.0  16.0  16.0   32.0    21.0
15.30      8.0   8.000000   0.000000   8.0   8.0   8.0   8.0    8.0     8.0
15.40      5.0  16.000000   0.000000  16.0  16.0  16.0  16.0   16.0     5.0
15.60   1009.0  13.375619   7.341624   4.0   8.0  12.0  16.0   64.0  1009.0
16.00    174.0  24.436782  11.455570   8.0  16.0  16.0  32.0   64.0   174.0
16.10     48.0  15.833333   6.494952   8.0  16.0  16.0  16.0   32.0    48.0
16.20     10.0  22.400000   8.262364  16.0  16.0  16.0  32.0   32.0    10.0
17.00     33.0  32.000000  13.856406  16.0  32.0  32.0  32.0   64.0    33.0
17.30    161.0  26.857143  15.820421   4.0  16.0  32.0  32.0  128.0   161.0
18.00      3.0  32.000000   0.000000  32.0  32.0  32.0  32.0   32.0     3.0

                     ...                 Final Price               \
               mean  ...     75%     max       count         mean
Screen               ...
10.10     64.000000  ...    64.0    64.0         1.0   324.000000
10.50    164.571429  ...   192.0   256.0         7.0   894.582857
10.95    128.000000  ...   128.0   128.0         1.0   531.000000
11.60     70.000000  ...   128.0   128.0        16.0   358.380625
12.00    320.000000  ...   320.0   512.0         4.0   601.472500
12.30    457.230769  ...   512.0  1000.0        13.0  1477.185385
12.40    149.333333  ...   224.0   256.0         6.0   796.970000
12.50    256.000000  ...   256.0   256.0         1.0   358.990000
13.00    362.370370  ...   512.0  1000.0        27.0  1459.942963
13.30    397.282443  ...   512.0  1000.0       131.0  1103.023130
13.40    858.105263  ...  1000.0  1000.0        19.0  2204.571579
13.50    501.473684  ...   512.0  1000.0        19.0  1599.465789
13.60    372.363636  ...   512.0   512.0        11.0  1698.092727
13.90    512.000000  ...   512.0   512.0         2.0  1294.235000
14.00    500.316327  ...   512.0  1000.0       392.0  1077.753138
14.10    122.181818  ...   128.0   256.0        11.0   321.731818
14.20    860.571429  ...  1000.0  1000.0        14.0  2762.075714
14.40    798.666667  ...   878.0  2000.0         6.0  2343.261667
14.50    512.000000  ...   512.0   512.0         3.0  1561.706667
15.00    449.904762  ...   512.0  1000.0        21.0  1802.191905
15.30    384.000000  ...   512.0   512.0         8.0  1714.000000
15.40    409.600000  ...   512.0   512.0         5.0  1206.976000
15.60    543.908821  ...   512.0  2000.0      1009.0  1001.666264
16.00    954.666667  ...  1000.0  4000.0       174.0  2323.388046
16.10    644.166667  ...  1000.0  1000.0        48.0  1220.741042
16.20    853.600000  ...  1000.0  1000.0        10.0  3187.104000
17.00   1064.242424  ...  1000.0  2000.0        33.0  3003.830606
17.30    991.801242  ...  1000.0  3000.0       161.0  2213.981056
18.00   1000.000000  ...  1000.0  1000.0         3.0  3252.336667


                std      min        25%       50%        75%      max
Screen
10.10           NaN   324.00   324.0000   324.000   324.0000   324.00
10.50    175.313945   599.01   830.7950   864.000   994.9050  1147.67
10.95           NaN   531.00   531.0000   531.000   531.0000   531.00
11.60     79.619155   230.14   309.3350   341.205   411.5500   495.33
12.00     62.356044   553.58   553.5800   583.830   631.7225   684.65
12.30    578.071433   866.00  1094.0300  1349.000  1776.7900  2842.50
12.40    210.475170   498.73   707.4100   796.500   857.7500  1134.21
12.50           NaN   358.99   358.9900   358.990   358.9900   358.99
13.00    670.949427   391.17   952.5400  1403.000  1878.3600  3107.62
13.30    408.985328   299.00   766.3600  1063.340  1349.0000  2068.00
13.40    836.930376   699.00  1849.0000  1999.000  2119.3650  3999.00
13.50    638.583978   792.55  1250.2350  1576.270  1772.9300  3747.91
13.60    188.174160  1519.00  1519.0000  1639.010  1869.0000  1969.01
13.90    431.002796   989.47  1141.8525  1294.235  1446.6175  1599.00
14.00    638.611115   208.99   634.2500   919.910  1349.0000  4599.00
14.10     73.690160   201.05   275.6700   317.020   384.3050   431.38
14.20    376.554258  2209.00  2500.0100  2739.005  2891.5075  3399.00
14.40    562.035271  1699.01  1974.0025  2231.780  2665.3875  3199.00
14.50     33.065664  1529.00  1545.0000  1561.000  1578.0600  1595.12
15.00    352.255712   987.15  1599.0000  1749.000  2099.0000  2312.10
15.30    122.940171  1599.00  1599.0000  1714.000  1829.0000  1829.00
15.40    194.655448   977.08  1118.2500  1118.250  1410.6500  1410.65
15.60    669.265368   229.00   550.7800   799.000  1199.9900  5368.77
16.00   1035.975809   437.87  1737.7900  2149.200  2783.7425  5758.14
16.10    425.949841   499.00   859.5425  1198.820  1499.0025  2399.01
16.20    402.336848  2729.01  2957.2500  2999.010  3444.0075  3849.00
17.00   1236.754068  1409.01  1999.0000  2999.000  3699.0000  7150.47
17.30   1121.599332   391.00  1478.3900  1979.000  2871.2900  5999.00
18.00    535.292257  2659.00  3029.0000  3399.000  3549.0050  3699.01

[29 rows x 24 columns]

In [15]:
df[df["Screen"].isnull() == True]

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
624,Acer Extensa 15 EX215-54 Intel Core i5-1135G7/...,New,Acer,Extensa,Intel Core i5,8,256,SSD,NaN,NaN,No,524.99
1430,HP ENVY x360 2-in-1 Laptop 15-ew0008np Intel C...,New,HP,Envy,Intel Core i7,16,512,SSD,RTX 2050,NaN,Yes,1863.52
1503,Lenovo IdeaPad Gaming 3 15ACH6 AMD Ryzen 5 560...,New,Lenovo,IdeaPad,AMD Ryzen 5,16,512,SSD,RTX 3060,NaN,No,1505.00
1548,Lenovo ThinkPad P15 Gen 2 Intel Core i7-11850H...,New,Lenovo,ThinkPad,Intel Core i7,16,512,SSD,RTX A2000,NaN,No,2569.00

In [18]:
df.Screen.fillna(15.60, inplace=True)

In [21]:
df[df["Screen"].isnull() == True]

Empty DataFrame
Columns: [Laptop, Status, Brand, Model, CPU, RAM, Storage, Storage type, GPU, Screen, Touch, Final Price]
Index: []

In [24]:
df.Screen.median()

15.6

In [25]:
# Q7. Sum of weights

In [23]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [26]:
df_inn = df[df.Brand == "Innjoo"]
x = df_inn[["RAM", "Storage", "Screen"]].to_numpy()

In [28]:
x

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [29]:
XTX = x.T.dot(x)
XTX

array([[2.52000e+02, 8.32000e+03, 5.59800e+02],
       [8.32000e+03, 3.68640e+05, 1.73952e+04],
       [5.59800e+02, 1.73952e+04, 1.28196e+03]])

In [30]:
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [31]:
XTX_inv.dot(XTX)

array([[ 1.00000000e+00, -2.75571802e-13,  6.32385368e-15],
       [ 1.02488553e-16,  1.00000000e+00,  8.14222656e-17],
       [-7.04660473e-16, -2.84062325e-14,  1.00000000e+00]])

In [32]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])
y

array([1100, 1300,  800,  900, 1000, 1100])

In [37]:
w = XTX_inv.dot(x.T).dot(y)
w.sum()

91.2998806299555